.normal {
    background-color: #bebe9a;
}

.fire {
    background-color: #fab697;
}

.water {
    background-color: #9bb2e7;
}

.grass {
    background-color: #a5cb9f;
}

.electric {
    background-color: #f9dc8e;
}

.ice {
    background-color: #b6dcdc;
}

.ground {
    background-color: #e2cb95;
}

.flying {
    background-color: #beaaed;
}

.poison {
    background-color: #c296be;
}

.fighting {
    background-color: #d08a88;
}

.psychic {
    background-color: #eea8d7;
}

.dark{
    background-color: #6a4f42;
}

.rock {
    background-color: #c3b586;
}

.bug{
    background-color: #bdc779;
}

.ghost {
    background-color: #978ba9;
}

.steel{
    background-color: #644b89;
}

.dragon {
    background-color: #5318c4;
}

.fairy {
    background-color: #df8fa9;
}